@CHARSET "ISO-8859-1";
/*Etiquetas label principales de los formularios*/
.formLabel{
	font-weight: bold;
}

.formTitleLabel{
	font-weight: bold;
	font-size: large;
	color: #18184C;
}

.alignRight .z-toolbar-start, .z-toolbar-panel .z-toolbar-panel-start .z-toolbar-panel-cnt{
	float: right;
}