body {
	height: auto;
}

.page {
	padding: 5px;
}

.aside {
	float: left;
	width: 180px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.header {
	background: #F1F1F1;
}

.header .login tr.z-row td.z-row-inner,tr.z-row .z-cell {
	background: #F1F1F1;
	border: 1px solid #F1F1F1;
}